.element__like {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: none;
  background:#fff;
  background-image: url(../../../images/elements_heart.svg);
  position: absolute;
  right: 22.2px;
  bottom: 30px;
  width: 21px;
  height: 18.1px;
}