@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__vocation/profile__vocation.css);
@import url(./__addButton/profile__addButton.css);

.profile {
  width: calc(100% - 19px*2);
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .profile {
    width: calc(100% - 8%*2);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;    
 }
}

@media screen and (min-width: 1020px) {
  .profile {
    width: calc(100% - 199px*2);
    max-width: 882px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
     
 }
}