.profile__name {
  color: #fff;
  margin: 14px auto 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 2.07;
  text-align: center;
}

.profile__name::after {
  content: url(../../../images/profile_EditButton.svg);
  display: inline-block;
  /*box-sizing: content-box;*/
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

@media screen and (min-width: 769px) {
  .profile__name {
    margin: 0;
    font-size: 42px;
    line-height: 1.33;
  }
  .profile__name::after {
    width: 24px;
    height: 24px;
    margin-left: 17px;
    display: inline-block;
  }
}