.popup__form-item {
  border: 0px;
  border-color: none;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: start;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  position: relative;
}

/* .popup__form-item:focus {
  outline: none;
  border: 1px solid rebeccapurple;
} */

.form__input-error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 35px;
}
