.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 42px auto 14px;
  /*display: flex;*/
}

@media screen and (min-width: 630px) and (max-width: 1019px) {
  .profile__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 50px auto 40px;
  }
}


@media screen and (min-width: 1020px) {
  .profile__avatar {
    margin: 40px 0px 50px 0px;
  }
}