@import url(../element/__picture/element__picture.css);
@import url(../element/__trash/element__trash.css);
@import url(../element/__data/element__data.css);
@import url(../element/__place/element__place.css);
@import url(../element/__like/element__like.css);

.element {
  width: 282px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

@media (min-width: 625px) and (max-width: 1019px) {
.element:nth-of-type(odd) {
  justify-self: end;
}
}